RewriteEngine on
RewriteBase /
AddType text/css .css
RewriteCond %{REQUEST_FILENAME} !^.*admin/index.php$
RewriteRule ^admin/(.*)?$ Go-Crd/Cards/admin/index.php?a=$1 [L,QSA]

RewriteRule ^(contacts|login|knowledge|register|payment|merchant|logout|notifications|create-card)?$ Go-Crd/Cards/index.php?a=$1 [L,QSA]
RewriteRule ^login/auth?$ index.php?a=login&type=auth [L,QSA]
RewriteRule ^register/(personal|business)?$ index.php?a=register&type=$1 [L]
RewriteRule ^password/reset?$ index.php?a=password&b=reset [L]
RewriteRule ^password/change/(.*)?$ index.php?a=password&b=change&hash=$1 [L]
RewriteRule ^email-verify/(.*)?$ index.php?a=email_verify&hash=$1 [L]
RewriteRule ^phone-verify/(.*)?$ index.php?a=phone_verify [L,QSA]
RewriteRule ^account/(summary|balance|disputes|activity|settings|notifications)?$ index.php?a=account&b=$1 [L]
RewriteRule ^account/summary/(success|error)?$ index.php?a=account&b=summary&type=$1 [L]
RewriteRule ^account/summary/error/(.*)?$ index.php?a=account&b=summary&type=error&msg=$1 [L]
RewriteRule ^account/summary/success/(.*)?$ index.php?a=account&b=summary&type=success&msg=$1 [L,QSA]
#RewriteRule ^account/summary/success/send/(.*)?$ index.php?a=account&b=summary&type=success&msg=send [L,QSA]
RewriteRule ^account/money/(converter|send|request|deposit|withdrawal)?$ index.php?a=account&b=money&c=$1 [L]
RewriteRule ^account/money/request/pay/(.*)?$ index.php?a=account&b=money&c=request_pay&id=$1 [L]
RewriteRule ^account/money/request/cancel/(.*)?$ index.php?a=account&b=money&c=request_cancel&id=$1 [L]
RewriteRule ^account/money/request/low-balance/(.*)?$ index.php?a=account&b=money&c=low_balance&id=$1 [L]
RewriteRule ^account/transaction/(.*)?$ index.php?a=account&b=transaction&id=$1 [L]
RewriteRule ^account/dispute/(.*)?$ index.php?a=account&b=disputes&c=dispute&id=$1 [L]
RewriteRule ^account/disputes/(.*)?$ index.php?a=account&b=disputes&page=$1 [L]
RewriteRule ^account/open/dispute/(.*)?$ index.php?a=account&b=disputes&c=open&txid=$1 [L]
RewriteRule ^account/escalate/dispute/(.*)?$ index.php?a=account&b=disputes&c=escalate&id=$1 [L]
RewriteRule ^account/close/dispute/(.*)?$ index.php?a=account&b=disputes&c=close&id=$1 [L]
RewriteRule ^account/settings/(profile|change_password|wallet_passphrase|2fa|verification|logs|api_key)?$ index.php?a=account&b=settings&c=$1 [L]
RewriteRule ^account/activity/(.*)?$ index.php?a=account&b=activity&page=$1 [L]
RewriteRule ^deposit/(.*)/success?$ index.php?a=deposit&b=success&id=$1 [L]
RewriteRule ^deposit/(.*)/fail?$ index.php?a=deposit&b=fail&id=$1 [L]
RewriteRule ^account/logs/(.*)?$ index.php?a=account&b=logs&page=$1 [L]
RewriteRule ^page/(.*)?$ index.php?a=page&prefix=$1 [L]
RewriteRule ^knowledge/articles/(.*)?$ index.php?a=knowledge&b=articles&id=$1 [L]
RewriteRule ^payment/(.*)?$ index.php?a=payment&hash=$1 [L]

